@tailwind base;
@tailwind components;
@tailwind utilities;

.bgcolour{
    background: conic-gradient(from 183.38deg at 124.05% 19.58%, rgba(0, 0, 0, 0.1) -142.5deg, #3E0606 4.11deg, #000000 4.14deg, #0C0002 11.23deg, #0B0808 47.53deg, #000000 75.62deg, rgba(0, 0, 0, 0) 140.63deg, rgba(0, 0, 0, 0) 166.87deg, rgba(0, 0, 0, 0.1) 217.5deg, #3E0606 364.11deg);
  background-blend-mode: darken;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }